
<body>
  <!--AOS Animation library examples: https://michalsnik.github.io/aos/ -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    AOS.init();
  </script>
  <!---------------------------------------------------------------------->

  <app-cover></app-cover>
  <app-parallax></app-parallax>
  <div class="content" id="sentence">
    <div appSentence [ratio]="0.2" class="h1">
      <h1>Der AllOnPen ist ein Stift, der auf allen Oberflächen zeichnen kann.</h1>
    </div>
  </div>
  <div class="content">
    <div data-aos="fade-up" data-aos-duration="1000" class="container">
      <p>
        Er ist daher kein gewöhnlicher Stift, sondern die Besonderheit liegt im Inneren unseres Geräts. So
        verfügt der AllOnPen über eine spezielle elektroimpulsive Flüssigsubstanz – der Temporalmaterie, die
        wir nach jahrelanger Forschung und Entwicklung perfektioniert haben. Der AllOnPen wird in
        Schweden unter hohen Standards und mit Fokus auf Nachhaltigkeit bei der Firma D&S Innovations
        produziert und strengen Tests unterzog
      </p>
    </div>
    <img data-aos="fade-up" data-aos-duration="1000" id="logo" src="assets/logo.PNG" height="50%">
  </div>
  <div class="content">
      <img data-aos="fade-up" data-aos-duration="1000" id="logo" src="assets/logo.PNG" height="50%">
      <div data-aos="fade-up" data-aos-duration="1000" class="container">
        <p>
          Er steht für maximale Innovation, Oberflächen können auf eine ganz neue Art und Weise für Schrift
          und Markierungen verwendet werden. Wir verkaufen unseren Kunden nicht nur unseren
          einzigartigen Stift, sondern ein Lebensstyle mit noch nie dagewesenen Möglichkeiten.
        </p>
    </div>
  </div>
  <div class="content">
    <div data-aos="fade-up" data-aos-duration="1000" class="container" id="one">
      <p>
        Durch die Temporalmaterie kann unser Kunde selbst entscheiden, wann, wo und wie das
        Gezeichnete sichtbar sein soll.
        Die temporäre Gestaltung von Events, Markierungen auf dem Bau oder in der Forst-&
        Landwirtschaft, sowie künstlerische Bedürfnisse kann der AllOnPen abdecken und eignet sich
        hervorragend für diese Zielgruppen
      </p>
    </div>
  </div>

  <div class="content">
    <div class="picBox">
      <div appPicture id="paracon_first" [factor]= "0.09"></div>
      <div appPicture id="paracon_second" [factor]= "-0.09"></div>
    </div>
    <div data-aos="fade-up" data-aos-duration="1000" class="container">
      <p>
        Verwandte Angebote sind der Edding 3000 als Permanent Marker oder für Displays der Wacom Pen:
      </p>
    </div>
  </div>
  <div class="content">
    <div data-aos="fade-up" data-aos-duration="1000" class="container">
      <p>
        Er ist daher kein gewöhnlicher Stift, sondern die Besonderheit liegt im Inneren unseres Geräts. So
        verfügt der AllOnPen über eine spezielle elektroimpulsive Flüssigsubstanz – der Temporalmaterie, die
        wir nach jahrelanger Forschung und Entwicklung perfektioniert haben. Der AllOnPen wird in
        Schweden unter hohen Standards und mit Fokus auf Nachhaltigkeit bei der Firma D&S Innovations
        produziert und strengen Tests unterzog
      </p>
    </div>
    <img data-aos="fade-up" data-aos-duration="1000" id="logo" src="assets/logo.PNG" height="50%">
  </div>
</body>